@import './variables';
@import './mixins';
@import '../app/battle/battle.component.scss';


@font-face {
  font-family: PokemonGB;
  src: url(../assets/PokemonGB.ttf);
}

body {
  font-family: PokemonGB;
}

.pxl-border {
  box-shadow:
    0   -6px 0  -2px $color-container,
    0    6px 0  -2px $color-container,
    0  -12px 0  -4px $color-container,
    0   12px 0  -4px $color-container,
    0  -18px 0  -8px $color-container,
    0   18px 0  -8px $color-container,
    0  -24px 0 -12px $color-container,
    0   24px 0 -12px $color-container,
  /* Inner Border */
   -2px  0   0   0   $color-border,
    2px  0   0   0   $color-border,
    0   -4px 0   0   $color-border,
    0    4px 0   0   $color-border,
    0  -10px 0  -2px $color-border,
    0   10px 0  -2px $color-border,
    0  -14px 0  -4px $color-border,
    0   14px 0  -4px $color-border,
    0  -20px 0  -8px $color-border,
    0   20px 0  -8px $color-border,
    0  -26px 0 -12px $color-border,
    0   26px 0 -12px $color-border,
    /* Middle Border */
   -4px  0   0   0   $color-border-accent,
    4px  0   0   0   $color-border-accent,
    0   -2px 0   2px $color-border-accent,
    0    2px 0   2px $color-border-accent,
    0   -8px 0   0px $color-border-accent,
    0    8px 0   0px $color-border-accent,
    0  -12px 0  -2px $color-border-accent,
    0   12px 0  -2px $color-border-accent,
    0  -16px 0  -4px $color-border-accent,
    0   16px 0  -4px $color-border-accent,
    0  -22px 0  -8px $color-border-accent,
    0   22px 0  -8px $color-border-accent,
    0  -28px 0 -12px $color-border-accent,
    0   28px 0 -12px $color-border-accent,
  /* Outer Border */
   -6px  0   0   0   $color-border,
    6px  0   0   0   $color-border,
    0    0   0   4px $color-border,
    0   -6px 0   2px $color-border,
    0    6px 0   2px $color-border,
    0  -10px 0   0   $color-border,
    0   10px 0   0   $color-border,
    0  -14px 0  -2px $color-border,
    0   14px 0  -2px $color-border,
    0  -18px 0  -4px $color-border,
    0   18px 0  -4px $color-border,
    0  -24px 0  -8px $color-border,
    0   24px 0  -8px $color-border,
    0  -30px 0 -12px $color-border,
    0   30px 0 -12px $color-border
  }
