<div id="battle-container">
  <div class="user-info">
    <div class="health-bar">
      <div class="character-stats">
        <h2 class="name">Charmander</h2>
        <h2>Lv10</h2>
      </div>
      <div class="HP"></div>
    </div>
    <div class="pokemon-display">
      <div class="grey-oval"></div>
    </div>
  </div>
  <div class="opponent-info">
    <div class="pokemon-display">
        <div class="grey-oval"></div>
    </div>
    <div class="health-bar">
      <div class="character-stats">
        <h2>SQUIRTLE</h2>
        <h2>Lv10</h2>
      </div>
      <div class="HP"></div>
    </div>
  </div>
</div>
<div id="menu">
  <div class="left-menu">
    <h1>What will Squirtle do?</h1>
  </div>
  <div class="right-menu"></div>
</div>
