canvas {
  border: 1px solid black;
  margin: auto;
}
// .flex-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   h1 {
//     width: 100%;
//   }
// }
audio {
  display: none;
}
