<div id="move-menu">
  <div class="left-menu">
    <div class="inner-menu">
      <h3 (click)="attack(childPlayerPokemon.moves[0])">{{childPlayerPokemon?.moves[0]}}</h3>
      <h3 (click)="attack(childPlayerPokemon.moves[1])">{{childPlayerPokemon?.moves[1]}}</h3>
      <h3 (click)="attack(childPlayerPokemon.moves[2])">{{childPlayerPokemon?.moves[2]}}</h3>
      <h3 (click)="attack(childPlayerPokemon.moves[3])">{{childPlayerPokemon?.moves[3]}}</h3>
    </div>
  </div>
  <div class="right-menu">
    <div id="move-info">
      <div class="points">
        <h2>PP</h2>
        <h2>5/5</h2>
      </div>
      <div class="type">
        <h3>Type/FIRE</h3>
      </div>
    </div>
  </div>
</div>
