
.logo-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 10vh;
  img {
    max-width: 100%;
  }
}
#pokeball {
  width: 55px;
<<<<<<< HEAD
  }
=======
}
>>>>>>> master


ul {
  list-style: none;
}
 audio {
   display: none;
 }
